body {
min-width: 960px;
margin: 0;
padding: 0;
  
font-family: "Cuprum", "PT Sans", Arial, sans-serif;
color: #000000;
line-height: 17px;
font-size: 17px;
font-weight: normal;
background-color: #f4f7f9;
}

.logo {
display: flex;
justify-content: space-between;
align-items: center;
width: 940px;
padding: 0 130px;
margin: 0 auto;
height: 42px;
}

h1 {
margin: 0;
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: normal;
color: #000;
}

.button {
font: inherit;
text-align: center;
color: #ffffff;
vertical-align: middle;
text-transform: uppercase;
background-color: #ee3643;
border: none;
}
  
.button:hover,
.button:focus {
background-color: #ca2c37;
}

.button:active {
background-color: #ba2732;
}
 
a {
text-decoration: none;
color: #ffffff;
}

.visually-hidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;

clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.main-header {
background-color: #293449;
font-family: "Cuprum", "Arial", sans-serif;
}

.user-nav {
  display: flex;
  justify-content: flex-end;

  font-family: "Cuprum",sans-serif;
  font-size: 21px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #000;

  width: 300px;
  margin: 0;
  padding: 0;

  list-style: none;
}
.user-nav-link {
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;

  padding: 14px 24px;
  background-color: #fff;
}
  .user-nav-link:hover,
  .user-nav-link:focus {
      color: #ee3643;
  }
  
.user-nav-link:active {
color: rgba(0, 0, 0, 0.3);
}

.centering-wrap {
width: 940px;
padding: 0 130px;
margin: 0 auto;
}

.main-header-logo {
position: relative;
float: left;
width: 220px;
height: 42px;
box-sizing: border-box;
padding: 10px 20px;
text-align: center;
background-color: #ee3643;
}
  
.main-header-logo::after {
position: absolute;
left: 0;
bottom: -5px;
content: "";
display: block;
height: 5px;
width: 100%;
border-top: 1px solid #bf2d38;
background-color:#b52933;
}

.main-header-logo:hover {
background-color: #ca2c37;
}
.main-header-logo:hover::after {
background-color: #9a212a;
}
.main-header-logo:active {
background-color: #ba2732;
}
.main-header-logo:active::after {
background-color: #8e1e26;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 740px;
}

.bookmark-cart a {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
  }

.link-icon {
  box-sizing: border-box;
  padding-left: 20px;
}
.link-icon::before {
  position: absolute;
  left: 18px;
  content: "";

  width:17px;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  opacity: 0.3;
}
  .link-icon:hover::before,
  .link-icon:focus::before {
      opacity: 1;
  }
  .link-icon:active::before {
      opacity: 0.5;
  }

.top-nav-link {
display: block;
padding: 12px 0;
width: 150px;
font-family: "Cuprum", sans-serif;
font-size: 17px;
line-height: 18px;
font-weight: 400;
font-style: normal;
color: #fff;
text-align: center;
text-decoration: none;
outline: none;
}

.top-nav-link:hover,
.top-nav-link:focus {
background-color:#212a3a;
}

.top-nav-link:active {
background-color:#161d29;
color: rgba(255, 255, 255, 0.6);
}

.bookmark {
position: relative;
}

.bookmark::before {
  width: 14px;
  height: 16px;
}

.bookmark:hover {
background-color: #212a3a;
}

.bookmark:active {
background-color: #161d29;
color: #a2a5a9;
}

.bookmark:hover {
color: #ffffff;
}

.bookmark:active {
color: #8b8e94;
}

.bookmark-value {
padding-left: 5px;
}

.cart {
background-color: #ee3643;
position: relative;
float: left;
text-decoration: none;
}

.cart:hover {
background-color: #212a3a;
}
.cart:active {
background-color: #161d29;
color: #a2a5a9;
}
.cart:hover {
color: #ffffff;
}
.cart:active {
color: #8b8e94;
}
.cart-active {
background-color: #ee3643;
}
.cart-active{
color: #f3737c;
}
.cart-value {
padding-left: 5px;
}

.register {
float: left;
text-decoration: none;
background-color: #63a63e;
}

.register:hover {
background-color: #5fbb2d;
}
.register:active {
background-color: #518534;

}

.current-log {
color: #000000;
font-size: 21px;
}

.orders,
.profile {
color: #32425c;
font-family: "Cuprum", "Arial", sans-serif;
font-size: 16px;
line-height: 18px;
text-decoration: underline;
}

  
.log {
width: 121px;
height: 45px;
color: #000000;
padding: 0 10px;
border: 3px solid white;
white-space: nowrap;
font-size: 21px;
line-height: 21px;
text-align: center;
      
background-color: #ffffff;
}
  

.log:hover,
.log:focus {
color: #ee3643;
}

.reg:hover,
.reg:focus {
color: #ee3643;
}


.reg {
width: 150x;
height: 45px;
color: #000000;
padding: 0 10px;
border: 3px solid white;
white-space: nowrap;
font-size: 21px;
line-height: 21px;
text-align: center;
background-color: #ffffff;
}
  
.text-about-shop,
.header-contacts {
list-style: none;
}
  
.text-about-shop {
font-size: 16px;
line-height: 23px;
color: #ee3643;
width: 196px;
padding: 5px 5px 0 52px;
margin: 0;

font-family: "Cuprum", sans-serif;
font-style: italic;
font-weight: 400;
}
  
  
.phone-number {
width: 100%;
position: relative;
padding: 5px 35px;
border: 3px solid white;
white-space: nowrap;
font-size: 21px;
line-height: 21px;
text-align: center;
color: #ee3643;
background-color: #f4f7f9;
}

.search-form .search-label {
position: relative;
}

.search-form {
font-family: "Cuprum", sans-serif;
font-size: 17px;
line-height: 17px;
color: #fff;
width: 270px;
height: 42px;
background-color: transparent;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
flex-grow: 1;
}

.search-form:hover {
background-color: #212a3a;
}

.search-form .label-search {
position: relative;
}

.search-form .field {
background-color: inherit;
border: none;
width: 100%;
height: 100%;
padding-left: 48px;
font: inherit;
color: #fff;
outline: none;
}

.field:hover {
opacity: 1;
}
.field:focus + {
fill: #ee3643;
opacity: 1;
}

.field:focus {                    
fill: #ee3643;
background-color: #fff;
color: #000000;
}

.field::placeholder {
font: inherit;
color: #fff;
}

.promo-block {
margin-bottom: 53px;
}

.promo-block-list {
display: flex;
align-items: flex-start;
justify-content: space-between;
flex-wrap: wrap;
padding: 0;
margin: 0;
list-style: none;
}

.promo-block-item {
position: relative;
font-family: "Cuprum", sans-serif;
width: 300px;
min-height: 123px;
padding: 20px 23px;
margin-bottom: 20px;
box-sizing: border-box;
}

.promo-block-item::after {
position: absolute;
content: "";
background-repeat: no-repeat;
}

.promo-block-item.materials {
background-color: #ffbf47;
}

.promo-block-item.materials::after {
top: 31px;
right: 43px;
width: 44px;
height: 65px;
}

.new::before {
position: absolute;
top: 0;
right: 0;
content: "";
width: 60px;
height: 59px;
background-image: url("../img/new.png");
}

.promo-block-item.tools {
background-color: #3bbce3;
}
.promo-block-item.tools::after {
top: 32px;
right: 28px;
width: 75px;
height: 61px;
background-image: url("../img/tools.svg");
}

.promo-block-item.equipment {
background-color: #dc91d8;
}

.promo-block-item.equipment::after {
top: 32px;
right: 33px;

width: 75px;
height: 61px;
background-image: url("../img/equipment.svg");
}
.promo-block-item.discount {
background-color: #8ed78f;
}
.promo-block-item.discount::after {
top: 27px;
right: 44px;

width: 59px;
height: 72px;
background-image: url("../img/cart.svg");
}
.promo-block-item.delivery {
background-color: #ffc047;
}
.promo-block-item.delivery::after {
top: 31px;
right: 32px;

width: 78px;
height: 63px;
background-image: url("../img/delivery.svg");
}
.promo-block-item:last-child {
margin-bottom: 0;
}
.promo-block-item-name {
font-size: 24px;
line-height: 30px;
font-weight: 700;
color: #fff;

margin: 0;
margin-bottom: 14px;
}
.promo-block-item-button {
font-family: "Cuprum", sans-serif;
font-size: 14px;
line-height: 18px;
font-weight: 400;
color: #fff;
text-align: center;
text-decoration: none;
text-transform: uppercase;

display: inline-block;
min-width: 135px;
padding: 10px 23px;
background-color: rgba(0, 0, 0, 0.1);
border-radius: 3px;
box-sizing: border-box;
}
.promo-block-item-button:hover,
.promo-block-item-button:focus {
background-color: rgba(0, 0, 0, 0.2);
}
.promo-block-item-button:active {
background-color: rgba(0, 0, 0, 0.3);
}
.promo-block-item-slider {
width: 620px;
height: 266px;
}
.promo-slider-list-wrap {
position: relative;
display: flex;
justify-content: center;
    
width: 620px;
height: 266px;
overflow: hidden;
}
.promo-slider-list {
padding: 0;
margin: 0;
list-style: none;
}
.promo-slider-item {
position: relative;  
display: none;
align-items: flex-start;
flex-direction: column;
flex-shrink: 0;
width: 620px;
height: 266px;
padding: 25px 24px 22px 24px;
box-sizing: border-box;
 }

.promo-slider-item.current-slide {
display: flex;
}

.promo-slider-item-title {
font-size: 36px;
line-height: 30px;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
margin: 0;
margin-bottom: 5px;
z-index: 1;
}

.promo-slider-item-subtitle {
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: 400;
color: #fff;
margin: 0;
z-index: 1;
}

.promo-slider-item-img {
display: block;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}

.promo-slider-item-button {
display: inline-block;
font-size: 14px;
line-height: 18px;
padding: 10px 50px;
text-transform: uppercase;
color: #fff;
    
border-radius: 3px;
margin-top: auto;
background-color: #ee3643;
z-index: 1;
}

.promo-slider-item-button:hover,
.promo-slider-item-button:focus {
background-color: #ca2c37;
}

.promo-slider-item-button:active {
background-color: #ba2732;
}

.arrow-slider-controls {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 0 24px;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
}

.previous-slide,
.next-slide {
position: absolute;
width: 27px;
height: 27px;
padding: 0;
background-color: transparent;
border: 3px solid #fff;
transform: rotate(-45deg);
}

.previous-slide {
left: 30px;
border-right: none;
border-bottom: none;
}

.next-slide {
right: 26px;
border-left: none;
border-top: none;
}

.round-slider-controls {
position: absolute;
bottom: 33px;
align-self: center;
}

.round-slider-control {
width: 10px;
height: 10px;
padding: 0;
margin-right: 5px;
border: 2px solid #fff;
background-color: #fff;
border-radius: 50%;
box-sizing: border-box;
}

.round-slider-control.current {
background-color: #ee3643;
}

.round-slider-control:last-child {
margin-right: 0;
}

.popular-products {
margin-bottom: 20px;
}

.section-title-block {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #f9f5f0;
padding: 30px 28px;
margin-bottom: 18px;
}

.section-title {
font-size: 30px;
line-height: 30px;
font-weight: 400;
text-transform: uppercase;
margin: 0;
}

.button-all-products {
font-size: 14px;
line-height: 18px;
font-weight: 400;
text-align: center;
width: 251px;
padding: 10px 0;
}

.button-all-products:hover,
.button-all-products:focus {
background-color: #ca2c37;
}

.button-all-products:active {
background-color: #ba2732;
}

.popular-products-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
margin: 0;
padding: 0;                                        
list-style: none;
}

.popular-products-item {
position: relative;
font-family: "PT Sans", sans-serif;
font-weight: 400;
text-align: center;
width: 220px;
min-height: 318px;
padding: 10px;
background-color: #fff;
border: 1px solid #eaeaea;
flex-shrink: 0;
box-sizing: border-box;
outline: none;
}

.popular-products-item:hover,
.popular-products-item:focus {
box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.popular-products-img-wrap {
position: relative;
display: flex;
align-items: center;
justify-content: center;;
align-content: center;
flex-wrap: wrap;
width: 200px;
height: 150px;
 }

.popular-products-img-wrap .button {
display: none;
font-family: "Cuprum", sans-serif;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
width: 135px;
border-radius: 3px;
box-sizing: border-box;
flex-shrink: 0;
}
.header-contacts {
background-color: #f4f7f9;
}
  
  .inner-page {
  color: #ffffff;
  background-image: url("img/light-pattern.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  
  }
  .page-title {
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  }
  
  .breadcrumbs {
    list-style: none;
  }
  
.breadcrumbs a,
.breadcrumbs-current {
 color: #000000;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
background-color:#ca2c37;
}
  
.filter fieldset {
border: none;
}
  
.filter legend {
font-size: 17px;
text-transform: uppercase;
font-weight: bold;
color: #000000;
}

.filter-option,
.filter-product {
list-style: none;
font-family: "PT Sans", "Arial", sans-serif;
color: #000000;
font-size: 15px;
font-weight: normal;
text-transform: uppercase;
line-height: 20px;
}
  
.catalog-list {
list-style: none;
}

.catalog-item {
background-color: #f8f8f8;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item a {
color: #000000;
}

.catalog-item h3 {
font-size: 18px;
line-height: 20px;
}


.catalog-item-price button {
font-size: 14px;
line-height: 20px;
text-align: center;
background-color: #ee3643;
}

.catalog-item-price s {
color: #999999;
}

.catalog-item:hover {
box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.items-catalog {
font-family: "Cuprum", "Arial", sans-serif;
font-size: 30px;
font-weight: normal;
color: #32425c;
background-color: #f2f6f8;
text-transform: uppercase;
}
  
  .no-bullets {
  list-style: none;
  }
  
  .main-menu {
  display: flex;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  
  background-color: #32425c;
  }

.site-navigation {
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: #32425c;

  box-shadow: inset 0 -5px 0 0 #293449;
  list-style: none;
}

.main-nav-item {
display: inline-block;
font-family: "Cuprum", sans-serif;
font-size: 17px;
line-height: 17px;
color: #fff;

padding: 21px 31px;
text-decoration: none;
}

.main-nav-item:hover,
.main-nav-item:focus {
background-color: #293449;
}

.main-nav-item:active {
background-color: #1d2739;
color: rgba(255, 255, 255, 0.5);
}

  .site-navigation a:hover,
  .site-navigation a:focus,
  .footer-navigation a:hover,
  .footer-navigation a:focus,
  .footer-catalog a:hover,
  .footer-catalog a:focus {
  
  background-color: #293449;
  }

  .promo a {
  color: #ffd180;
  }

  .bookmark-cart a:hover,
  .bookmark-cart a:focus {
    background-color: #161d29;
  }


  .site-navigation a {
    color: #ffffff;
  }
  
  .contacts-title {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  }

  .contacts {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
      
  background-color:#ffffff;   
  }
  
  .info-about-company,
  .map {
    background-color: #ffffff;
  }
  
  .feature-text,
  .transport-item{
  list-style: none; 
  }
  
  .feature-text {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
          
  background-color:#ffffff;  
  }
  
  .transport-item {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
          
  background-color:#ffffff;
  }
  
  .site-navigation {
  font-size: 17px;
  line-height: 17px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #32425c;
  }

  .footer-feedback a:hover,
  .footer-copyright a:hover {
    color:#ee3643

  }
  
  .site-navigation a {
  color: #ffffff;
  }

  .footer-logo {
  background-color: #ee3643;
  width: 220px;
  height: 68px;
  padding: 25px 41px 20px 41px;
  margin-left: 130px;
  margin-right: 850px;
  text-align: center;
  }
  
  .footer-nav {
  background-color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  }
  
  .container {
  background-color: #293449;
  font-family: "Cuprum", "Arial", sans-serif;
  }

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  }  
  
  .footer-social img {
    margin: -2px 0 0 0;
    position: absolute;
  }

.social-btn {
display: block;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #212a3a;
background-position: center;
background-repeat: no-repeat;
}

.social-btn:hover,
.social-btn:focus,
.social-btn:active {
background-color: #ca2c37;
}

  .footer-copyright p {
    color: #ffd180;
  }
  
  .footer-copyright a,
  
  .footer-feedback a {
    color: #ffd180;
  }
  
  .popup {
  display:none; 
  }

  .footer-logo {
    position: relative;
    float: left;
    width: 220px;
    height: 68px;
    box-sizing: border-box;
    padding: 20px 20px;
    text-align: center;
    background-color: #ee3643;
    }

    .footer-logo::after {
      position: absolute;
      left: 0;
      bottom: -5px;
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      border-top: 1px solid #bf2d38;
      background-color:#b52933;
      }