body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  
  font-family: "Cuprum", "PT Sans", Arial, sans-serif;
  color: #000000;
  line-height: 17px;
  font-size: 17px;
  font-weight: normal;
  background-color: #f4f7f9;
}
  
h1 {
margin: 0;
font-family: "Cuprum", Arial, sans-serif;
font-size: 30px;
line-height: normal;
color: #000;
}

.button {
font: inherit;
text-align: center;
color: #ffffff;
vertical-align: middle;
text-transform: uppercase;
background-color: #ee3643;
border: none;
}
  
.button:hover,
.button:focus {
background-color: #ca2c37;
}

.button:active {
background-color: #ba2732;
}
 
a {
text-decoration: none;
color: #ffffff;
cursor: pointer;
}

.main-header {

background-color: #293449;
font-family: "Cuprum", "Arial", sans-serif;
}

.main-header-logo {
position: relative;
float: left;
width: 220px;
height: 42px;
box-sizing: border-box;
padding: 10px 20px;
text-align: center;
background-color: #ee3643;
}
  
.main-header-logo::after {
position: absolute;
left: 0;
bottom: -5px;
content: "";
display: block;
height: 5px;
width: 100%;
border-top: 1px solid #bf2d38;
background-color:#b52933;
}

.main-header-logo:hover {
background-color: #ca2c37;
}
.main-header-logo:hover::after {
background-color: #9a212a;
}
.main-header-logo:active {
background-color: #ba2732;
}
.main-header-logo:active::after {
background-color: #8e1e26;
}


.bookmark-cart a {
color: #ffffff;
font-family: "Cuprum", "Arial", sans-serif;
font-size: 17px;
line-height: 18px;
font-weight: normal;
}

.bookmark {
text-decoration: none;
position: relative;
float: left;
background-color: #293449;
}

.bookmark:hover {
background-color: #212a3a;
}

.bookmark:active {
background-color: #161d29;
color: #a2a5a9;
}

.bookmark:hover {
color: #ffffff;
}

.bookmark:active {
color: #8b8e94;
}

.bookmark-value {
padding-left: 5px;
}

.cart {
background-color: #ee3643;
position: relative;
float: left;
text-decoration: none;
}

.cart:hover {
background-color: #212a3a;
}
.cart:active {
background-color: #161d29;
color: #a2a5a9;
}
.cart:hover {
color: #ffffff;
}
.cart:active {
color: #8b8e94;
}
.cart-active {
background-color: #ee3643;
}
.cart-active{
color: #f3737c;
}
.cart-value {
padding-left: 5px;
}

.register {
float: left;
text-decoration: none;
background-color: #63a63e;
}

.register:hover {
background-color: #5fbb2d;
}
.register:active {
background-color: #518534;

}

.current-log {
color: #000000;
font-size: 21px;
}

  .orders,
  .profile {
  color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  }

  
  .log {
    width: 121px;
    height: 45px;
    color: #000000;
    padding: 0 10px;
    border: 3px solid white;
    white-space: nowrap;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    
  
  background-color: #ffffff;
  }
  

.log:hover,
.log:focus {
color: #ee3643;
}

.reg:hover,
.reg:focus {
color: #ee3643;
}


  .reg {
    width: 150x;
    height: 45px;
    color: #000000;
    padding: 0 10px;
    border: 3px solid white;
    white-space: nowrap;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
  background-color: #ffffff;
  }
  
  .text-about-shop,
  .header-contacts {
  list-style: none;
  }
  
  .text-about-shop {
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  }
  
  .phone-number {
    width: 100%;
    position: relative;
    padding: 5px 35px;
    border: 3px solid white;
    white-space: nowrap;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #ee3643;
    background-color: #f4f7f9;
  }
  
  .header-contacts {
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding: 0;
  
  background-color: #f4f7f9;
  }
  
  .inner-page {
  color: #ffffff;
  background-image: url("img/light-pattern.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  
  }
  .page-title {
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  }
  
  .breadcrumbs {
    list-style: none;
  }
  
  .breadcrumbs a,
  .breadcrumbs-current {
    color: #000000;
  }
  .breadcrumbs a:hover,
  .breadcrumbs a:focus {
    background-color:#ca2c37;
  }
  
  .filter fieldset {
    border: none;
  }
  
  .filter legend {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
  }
  .filter-option,
  .filter-product {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 20px;
  }
  
.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.catalog-item a {
  color: #000000;
}
.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
}


.catalog-item-price button {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #ee3643;
}

.catalog-item-price s {
  color: #999999;
 }

.catalog-item:hover {
  box-shadow: 
  0 0 10px 5px rgba(0, 0, 0, 0.1);
}

  .items-catalog {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #32425c;
    background-color: #f2f6f8;
  }
  
  .no-bullets {
  list-style: none;
  }
  
  .main-menu {
  display: flex;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  font-family: 'Cuprum', 'Arial', sans-serif;
  
  background-color: #32425c;
  }
  .site-navigation a:hover,
  .site-navigation a:focus,
  .footer-navigation a:hover,
  .footer-navigation a:focus,
  .footer-catalog a:hover,
  .footer-catalog a:focus {
  
  background-color: #293449;
  }

  .bookmark-cart a:hover,
  .bookmark-cart a:focus {
    background-color: #161d29;
  }


  .site-navigation a {
    color: #ffffff;
  }
  
  .contacts-title {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  }
  
  p {
  margin: 0;
  }

  .contacts {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
      
  background-color:#ffffff;   
  }
  
  .info-about-company,
  .map {
    background-color: #ffffff;
  }
  
  .feature-text,
  .transport-item{
  list-style: none; 
  }
  
  .feature-text{
  font-size: 13px;
  line-height: 24px;
  color: #000000;
          
  background-color:#ffffff;  
  }
  
  .transport-item {
  font-size: 18px;
  line-height: 20px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  color: #000000;
          
  background-color:#ffffff;
  }
  
  .site-navigation {
  font-size: 17px;
  line-height: 17px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #32425c;
  }

  .footer-feedback a:hover,
  .footer-copyright a:hover {
    color:#ee3643

  }
  
  .site-navigation a,
  .page-footer a {
  color: #ffffff;
  }


.pagination-list {
  list-style: none;
}
  
.pagination-item a {
  color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {

}
.pagination-item-current a:active {
  background-color: #ee3643;
}

  .footer-logo {
  background-color: #ee3643;
  width: 220px;
  height: 68px;
  padding: 25px 41px 20px 41px;
  margin-left: 130px;
  margin-right: 850px;
  text-align: center;
  }
  
  .footer-nav {
  background-color: #32425c;
  font-family: 'Cuprum', 'Arial', sans-serif;
  }
  
  .container {
  background-color: #293449;
  font-family: 'Cuprum', 'Arial', sans-serif;
  }
  
  .social-button{
    text-align: center;
    color: #212a3a;
  }
  
  .social-button:hover,
  .social-button:focus {
  background-color: #ca2c37;
  }

  .footer-copyright p {
    color: #ffd180;
  }
  
  .footer-copyright a,
  
  .footer-feedback a {
    color: #ffd180;
  }
  
  .popup {
  display:none; 
  }

  .footer-logo {
    position: relative;
    float: left;
    width: 220px;
    height: 68px;
    box-sizing: border-box;
    padding: 20px 20px;
    text-align: center;
    background-color: #ee3643;
    }

    .footer-logo::after {
      position: absolute;
      left: 0;
      bottom: -5px;
      content: "";
      display: block;
      height: 5px;
      width: 100%;
      border-top: 1px solid #bf2d38;
      background-color:#b52933;
      }